{% extends 'base.html' %}
{% load static %}
{% block title %} SEDS in Media | Tufts SEDS {% endblock %}
{% block pagecontent %}

<!-- Page Content-->
<div class="apo-page">
    <!-- Isotope-->
    <div data-isotope-layout="masonry" class="apo-isotope apo-cols-4 apo-entries-container apo-style-1">
        <div class="grid-sizer"></div>
        <div class="apo-item">
            <!-- Article-->
            <article class="apo-entry">
                <header class="apo-entry-header-dublicate">
                    <h2 class="apo-entry-title"><a
                            href="https://engineering.tufts.edu/news-events/news/successful-test-launch-tufts-rocketry-team">Successful
                            test launch for Tufts rocketry team</a>
                    </h2>
                </header>
                <div class="apo-entry-media"><a
                        href="https://engineering.tufts.edu/news-events/news/successful-test-launch-tufts-rocketry-team"><img
                            src="https://engineering.tufts.edu/sites/g/files/lrezom421/files/styles/large/public/2024-04/news-2404-SEDS-group.png?itok=z0f4Pg8T"
                            alt="" /></a></div>
                <div class="apo-entry-content-wrap">
                    <div class="apo-aligner-outer">
                        <div class="apo-aligner-inner">
                            <header class="apo-entry-header">
                                <ul class="apo-entry-categories">
                                    <li><time style="color: white;" datetime="2024-4-3"
                                            class="apo-entry-publish-date">April 3, 2024</time></li>
                                </ul>
                                <h2 class="apo-entry-title"><a
                                        href="https://engineering.tufts.edu/news-events/news/successful-test-launch-tufts-rocketry-team">Successful
                                        test launch for Tufts
                                        rocketry team</a></h2>
                            </header>
                            <div class="apo-entry-content">
                                <p>Undergraduate and graduate students in Tufts Students for the Exploration and
                                    Discovery of Space collaborate on building a competitive space rocket.
                                </p>
                            </div>
                            <footer class="apo-entry-footer"><a
                                    href="https://engineering.tufts.edu/news-events/news/successful-test-launch-tufts-rocketry-team"
                                    class="apo-entry-read-more-link apo-btn apo-btn-small"> Read More</a>
                            </footer>
                        </div>
                    </div>
                </div>
            </article>
            <!-- End Article-->
        </div>
        <div class="apo-item apo-item-size-2x">
            <!-- Article-->
            <article class="apo-entry">
                <header class="apo-entry-header-dublicate">
                    <h2 class="apo-entry-title"><a
                            href="https://engineering.tufts.edu/news-events/news/tufts-seds-rocket-soars-success">Tufts
                            SEDS rocket soars to success</a></h2>
                </header>
                <div class="apo-entry-media"><a
                        href="https://engineering.tufts.edu/news-events/news/tufts-seds-rocket-soars-success"><img
                            src="https://engineering.tufts.edu/sites/g/files/lrezom421/files/styles/large/public/2024-08/news-2408-seds.png?itok=qrMrnSmO"
                            alt="" /></a></div>
                <div class="apo-entry-content-wrap">
                    <div class="apo-aligner-outer">
                        <div class="apo-aligner-inner">
                            <header class="apo-entry-header">
                                <ul class="apo-entry-categories">
                                    <li><time style="color: white;" datetime="2024-8-12"
                                            class="apo-entry-publish-date">August 12, 2024</time></li>
                                </ul>
                                <h2 class="apo-entry-title"><a
                                        href="https://engineering.tufts.edu/news-events/news/tufts-seds-rocket-soars-success">Tufts
                                        SEDS rocket soars to success</a>
                                </h2>
                            </header>
                            <div class="apo-entry-content">
                                <p>Tufts Students for the Exploration and Discovery of Space accomplished new
                                    heights at the Spaceport America Cup.</p>
                            </div>
                            <footer class="apo-entry-footer"><a
                                    href="https://engineering.tufts.edu/news-events/news/tufts-seds-rocket-soars-success"
                                    class="apo-entry-read-more-link apo-btn apo-btn-small"> Read More</a>
                            </footer>
                        </div>
                    </div>
                </div>
            </article>
            <!-- End Article-->
        </div>
        <div class="apo-item">
            <!-- Article-->
            <article class="apo-entry">
                <header class="apo-entry-header-dublicate">
                    <h2 class="apo-entry-title"><a
                            href="https://now.tufts.edu/2020/02/12/why-engineering-we-asked-five-women">Why Engineering?
                            We Asked Five Women</a></h2>
                </header>
                <div class="apo-entry-media"><a
                        href="https://now.tufts.edu/2020/02/12/why-engineering-we-asked-five-women"><img
                            src="https://now.tufts.edu/sites/default/files/styles/xlarge_1920w_1280h/public/uploaded-assets/images/2023-02/eng_richardson163_2.jpg?h=561fe1eb&itok=M9-xYBeC"
                            alt="" /></a></div>
                <div class="apo-entry-content-wrap">
                    <div class="apo-aligner-outer">
                        <div class="apo-aligner-inner">
                            <header class="apo-entry-header">
                                <ul class="apo-entry-categories">
                                    <li><time style="color: white;" datetime="2020-2-12"
                                            class="apo-entry-publish-date">February 12, 2020</time></li>
                                </ul>
                                <h2 class="apo-entry-title"><a
                                        href="https://now.tufts.edu/2020/02/12/why-engineering-we-asked-five-women">Why
                                        Engineering? We Asked Five Women</a>
                                </h2>
                            </header>
                            <div class="apo-entry-content">
                                <p>With women now equaling men in the new engineering class, challenging, high-impact
                                    opportunities are a major draw.</p>
                            </div>
                            <footer class="apo-entry-footer"><a
                                    href="https://now.tufts.edu/2020/02/12/why-engineering-we-asked-five-women"
                                    class="apo-entry-read-more-link apo-btn apo-btn-small"> Read More</a>
                            </footer>
                        </div>
                    </div>
                </div>
            </article>
            <!-- End Article-->
        </div>
        <div class="apo-item">
            <!-- Article-->
            <article class="apo-entry">
                <header class="apo-entry-header-dublicate">
                    <h2 class="apo-entry-title"><a
                            href="https://matthewisakowitzfoundation.org/news-post/mifp-class-2024">Tufts SEDS
                            Member Accepted into 2024 Matthew Isakowitz</a></h2>
                </header>
                <div class="apo-entry-media"><a
                        href="https://matthewisakowitzfoundation.org/news-post/mifp-class-2024"><img
                            src="https://images.squarespace-cdn.com/content/v1/597fc194b8a79be81b5bd928/4cdfe839-11fe-438a-a355-f59af0d11095/2024+Fellows+Collage.png?format=1500w"
                            alt="" /></a></div>
                <div class="apo-entry-content-wrap">
                    <div class="apo-aligner-outer">
                        <div class="apo-aligner-inner">
                            <header class="apo-entry-header">
                                <ul class="apo-entry-categories">
                                    <li><time style="color: white;" datetime="2024-1-25"
                                            class="apo-entry-publish-date">January 25, 2024</time></li>
                                </ul>
                                <h2 class="apo-entry-title"><a
                                        href="https://matthewisakowitzfoundation.org/news-post/mifp-class-2024">Tufts
                                        SEDS Member Accepted into 2024 Matthew Isakowitz</a></h2>
                            </header>
                            <div class="apo-entry-content">
                                <p>The Matthew Isakowitz Fellowship—a summer internship and mentorship for future
                                    commercial spaceflight leaders—selected one of our members among its 2024 class of
                                    31 fellows!</p>
                            </div>
                            <footer class="apo-entry-footer"><a
                                    href="https://matthewisakowitzfoundation.org/news-post/mifp-class-2024"
                                    class="apo-entry-read-more-link apo-btn apo-btn-small"> Read More</a>
                            </footer>
                        </div>
                    </div>
                </div>
            </article>
            <!-- End Article-->
        </div>
        <div class="apo-item">
            <!-- Article-->
            <article class="apo-entry">
                <header class="apo-entry-header-dublicate">
                    <h2 class="apo-entry-title"><a
                            href="https://now.tufts.edu/2019/11/08/tufts-students-going-distance-space">Tufts
                            Students Going the Distance—Into Space</a>
                    </h2>
                </header>
                <div class="apo-entry-media"><a
                        href="https://now.tufts.edu/2019/11/08/tufts-students-going-distance-space"><img
                            src="https://now.tufts.edu/sites/default/files/uploaded-assets/images/migrated/191108_space_explore_students_lg.jpg"
                            alt="" /></a></div>
                <div class="apo-entry-content-wrap">
                    <div class="apo-aligner-outer">
                        <div class="apo-aligner-inner">
                            <header class="apo-entry-header">
                                <ul class="apo-entry-categories">
                                    <li><time style="color: white;" datetime="2019-11-8"
                                            class="apo-entry-publish-date">November 8, 2019</time></li>
                                </ul>
                                <h2 class="apo-entry-title"><a
                                        href="https://now.tufts.edu/2019/11/08/tufts-students-going-distance-space">Tufts
                                        Students Going the Distance—Into Space</a></h2>
                            </header>
                            <div class="apo-entry-content">
                                <p>Many women feel that their breasts are too big and they need to have a breast
                                    augmentation done so to improve the way they look and feel. </p>
                            </div>
                            <footer class="apo-entry-footer"><a
                                    href="https://now.tufts.edu/2019/11/08/tufts-students-going-distance-space"
                                    class="apo-entry-read-more-link apo-btn apo-btn-small"> Read More</a>
                            </footer>
                        </div>
                    </div>
                </div>
            </article>
            <!-- End Article-->
        </div>
    </div>
    <!-- End Isotope-->
</div>
<!-- End Page Content-->
{% endblock %}