{% extends 'base.html' %}
{% load static %}
{% block title %} Support Us | Tufts SEDS {% endblock %}

{% block pagecontent %}


<style>
.text-pic-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text-pic-text {
  width: 50%;
  padding: 5%;
}
.text-pic-image {
  width: 50%;
  padding: 5%;
}
</style>
<div class="apo-page">
    <div class="container">
        <!-- Rocketry Page Header-->
    </div>
    <div class="apo-page">
        <div class="apo-page-header">
            <div class="apo-page-header-column">
                <h1 class="apo-page-title">Support Tufts SEDS</h1>
            </div>
        </div>
        <div class="container">
            <section class="apo-section">

                <div class="text-pic-container">
                    <div class="text-pic-text">
                        <p>Supporting Tufts Students for the Exploration and Development of Space (SEDS) is a direct
                            investment
                            in the next generation of aerospace leaders, researchers, and innovators. By contributing to
                            Tufts
                            SEDS, you are helping students overcome financial barriers to attend conferences and foster
                            a
                            collaborative environment that encourages learning and networking.</p>
                    </div>
                    <div class="text-pic-image"><img
                            src="https://lh3.googleusercontent.com/drive-viewer/AK7aPaBm3at5-MO1tPLaaJixZT5GM06Yr-Gy2yvWVvN1H0v8OCkDXzFGA7xQTPOXaRnGniVlYBzU3oqrob6wO-Nvm6APAsKbnA=s1600"
                            alt=""></div>
                </div>

                <div class="text-pic-container">
                    <div class="text-pic-image"><img
                        src="https://lh3.googleusercontent.com/drive-viewer/AK7aPaBZcR9Qi_vy0PLYNPeK7Fu0nQC70-KFSegRY2MGMrIYLWSBm7xJT1B5AaBY_m4YlOav9ndw_YSSIiUBnGFVia8Ydy1L8Q=s1600"
                        alt=""></div>
                    <div class="text-pic-text">
                        <p>Your donation will help reduce member costs and personal contributions for competitions and
                            conferences, which empower Tufts SEDS to provide valuable resources, mentorship, and support
                            to our
                            members. Together, we can inspire and equip these aspiring engineers and scientists with the
                            tools
                            and skill to shape the future of space exploration and technology. Your generosity makes a
                            tangible
                            impact on the educational journey and professional development of our Tufts SEDS members,
                            ensuring
                            they have the tools they need to succeed in their pursuit of knowledge and contribute to the
                            exciting advancements in space.</p>
                    </div>
                </div>
            </section>

            <section class="apo-section" style="text-align: center;">
                <h2>How to Donate</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <!-- Inner Section-->
                        <section class="apo-section">
                            <h2 class="apo-section-title">Check</h2>
                            <!-- Accordion-->
                            <dl class="apo-accordion">
                                <dt id="panel-1" role="button" aria-haspopup="true" aria-expanded="true"
                                    aria-controls="panel-content-1" class="apo-accordion-title">How to donate via check
                                </dt>
                                <dd id="panel-content-1" aria-labelledby="panel-1" class="apo-accordion-definition">
                                    Write a check payable to: "Trustees of Tufts College" <br> <i
                                        class="icon icon-arrow-down"></i> <br>

                                    Under the memo line, write "Donation: General Tufts SEDS" <br> <i
                                        class="icon icon-arrow-down"></i> <br>

                                    Send the check to the M.E. department administrator:
                                    "Courtney Russo, Mechanical Engineering 200 College Ave Medford, MA 02155 United
                                    States"
                                    <br> <i class="icon icon-arrow-down"></i> <br>

                                    The mechanical engineering department will forward the check to advancement, after
                                    which the donation will be processed and reserved for the project. <br>
                                </dd>
                            </dl>
                            <!-- End Accordion-->
                        </section>
                        <!-- End Inner Section-->
                    </div>
                    <div class="col-sm-6">
                        <!-- Inner Section-->
                        <section class="apo-section">
                            <h2 class="apo-section-title">Give Online</h2>
                            <!-- Accordion-->
                            <dl class="apo-accordion">
                                <dt id="panel-1" role="button" aria-haspopup="true" aria-expanded="true"
                                    aria-controls="panel-content-1" class="apo-accordion-title">How to donate via
                                    Tufts's
                                    online portal</dt>
                                <dd id="panel-content-1" aria-labelledby="panel-1" class="apo-accordion-definition">
                                    The following outlines a "giving" via a secure payment form that accepts credit
                                    cards,
                                    PayPal, and Venmo. <br>
                                    Visit the following website: <a
                                        href="https://give.tufts.edu">https://give.tufts.edu</a>
                                    <br> <i class="icon icon-arrow-down"></i> <br>

                                    Scroll to the bottom of the page and click "Make a Gift" <br>
                                    On the form, select "Arts, Sciences & Engineering", then "Other" <br>
                                    You will be asked to specify. Type in "Mechanical Engineering: General Tufts SEDS"
                                    <br>
                                    <i class="icon icon-arrow-down"></i> <br>

                                    Any funding with the words above specified will be processed and allocated to our
                                    project. Congrats, you have successfully donated to our rocket team!
                                    <br> <i class="icon icon-arrow-down"></i> <br>

                                    The mechanical engineering department will directly receive the payment, after
                                    which the donation will be processed and reserved for the project. <br>
                                </dd>
                            </dl>
                            <!-- End Accordion-->
                        </section>
                        <!-- End Inner Section-->
                    </div>
                </div>
            </section>
        </div>
    </div>
    {% endblock %}