{% extends '../homepages/rocketry_home.html' %}
{% block title %} Rocketry - Donations | Tufts SEDS {% endblock %}
{% load static %}

{% block rocket_content %}
<div class="apo-page">
    <div class="apo-page-header">
        <div class="apo-page-header-column">
            <h1 class="apo-page-title">Donate to Tufts SEDS Rocketry</h1>
        </div>
    </div>
    <div class="container">
        <section class="apo-section">

            <p>At Tufts Rocketry, we hope to help current students and future engineers reach for the stars, compete on
                an international stage alongside the world's top engineering institutions, and create a welcoming
                aerospace community at a school with no aerospace program whatsoever.
            </p>

            <p>As such, your generosity will enable us to acquire materials and equipment for projects that have a
                transformative impact on students' educational experiences. You will also be helping to lower travel
                costs for launches and competitions, further reducing barriers to entry and making the field more
                accessible to all. Finally, you'll help us share our knowledge and passion for rocketry and aerospace
                with the local community and inspire the next generation of scientists and engineers.</p>

            <p>As we strive to make a positive impact during our time at Tufts, your kindness will have a real, tangible
                effect on our community. The entire Tufts Rocketry team expresses profound gratitude to all those who
                make our mission possible—thank you for helping us to keep on climbing!</p>
        </section>

        <section class="apo-section" style="text-align: center;">
            <h2>How to Donate</h2>
            <div class="row">
                <div class="col-sm-6">
                    <!-- Inner Section-->
                    <section class="apo-section">
                        <h2 class="apo-section-title">Check</h2>
                        <!-- Accordion-->
                        <dl class="apo-accordion">
                            <dt id="panel-1" role="button" aria-haspopup="true" aria-expanded="true"
                                aria-controls="panel-content-1" class="apo-accordion-title">How to donate via check
                            </dt>
                            <dd id="panel-content-1" aria-labelledby="panel-1" class="apo-accordion-definition">
                                Write a check payable to: "Trustees of Tufts College" <br> <i
                                    class="icon icon-arrow-down"></i> <br>

                                Under the memo line, write "Donation: Tufts SEDS Rocketry" <br> <i
                                    class="icon icon-arrow-down"></i> <br>

                                Send the check to the M.E. department administrator:
                                "Courtney Russo, Mechanical Engineering 200 College Ave Medford, MA 02155 United States"
                                <br> <i class="icon icon-arrow-down"></i> <br>

                                The mechanical engineering department will forward the check to advancement, after
                                which the donation will be processed and reserved for the project. <br>
                            </dd>
                        </dl>
                        <!-- End Accordion-->
                    </section>
                    <!-- End Inner Section-->
                </div>
                <div class="col-sm-6">
                    <!-- Inner Section-->
                    <section class="apo-section">
                        <h2 class="apo-section-title">Give Online</h2>
                        <!-- Accordion-->
                        <dl class="apo-accordion">
                            <dt id="panel-1" role="button" aria-haspopup="true" aria-expanded="true"
                                aria-controls="panel-content-1" class="apo-accordion-title">How to donate via Tufts's
                                online portal</dt>
                            <dd id="panel-content-1" aria-labelledby="panel-1" class="apo-accordion-definition">
                                The following outlines a "giving" via a secure payment form that accepts credit cards,
                                PayPal, and Venmo. <br>
                                Visit the following website: <a href="https://give.tufts.edu">https://give.tufts.edu</a>
                                <br> <i class="icon icon-arrow-down"></i> <br>

                                Scroll to the bottom of the page and click "Make a Gift" <br>
                                On the form, select "Arts, Sciences & Engineering", then "Other" <br>
                                You will be asked to specify. Type in "Mechanical Engineering: Tufts SEDS Rocketry" <br>
                                <i class="icon icon-arrow-down"></i> <br>

                                Any funding with the words above specified will be processed and allocated to our
                                project. Congrats, you have successfully donated to our rocket team!
                                <br> <i class="icon icon-arrow-down"></i> <br>

                                The mechanical engineering department will directly receive the payment, after
                                which the donation will be processed and reserved for the project. <br>
                            </dd>
                        </dl>
                        <!-- End Accordion-->
                    </section>
                    <!-- End Inner Section-->
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}