{% extends 'base' %}
{% load static %}
{% block title %} Rocketry | Tufts SEDS {% endblock %}
{% block pagecontent %}
<!-- Page Content-->
<div class="apo-page">
    <!-- Isotope-->
    <div data-isotope-layout="masonry" class="apo-isotope apo-cols-4 apo-portfolio-container apo-style-3">
      <div class="grid-sizer"></div>
      <div class="apo-item apo-item-size-2x">
        <!-- Article-->
        <article class="apo-project">
          <div class="apo-project-media"><a href="#"><img src="" alt=""></a></div>
          <div class="apo-project-content-wrap">
            <div class="apo-aligner-outer">
              <div class="apo-aligner-inner">
                <header class="apo-project-header">
                  <h2 class="apo-project-title"><a href="">Stories Collective</a></h2>
                  <ul class="apo-project-categories">
                    <li><a href="#">Photo</a></li>
                  </ul>
                </header>
                <footer class="apo-project-footer">
                  <ul class="apo-project-meta">
                    <li><a href=""><i class="icon-heart"></i>167</a></li>
                  </ul>
                </footer>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="apo-item">
        <!-- Article-->
        <article class="apo-project">
          <div class="apo-project-media"><a href="#"><img src="" alt=""></a></div>
          <div class="apo-project-content-wrap">
            <div class="apo-aligner-outer">
              <div class="apo-aligner-inner">
                <header class="apo-project-header">
                  <h2 class="apo-project-title"><a href="">In Summer Night</a></h2>
                  <ul class="apo-project-categories">
                    <li><a href="#">Landscape</a></li>
                  </ul>
                </header>
                <footer class="apo-project-footer">
                  <ul class="apo-project-meta">
                    <li><a href=""><i class="icon-heart"></i>258</a></li>
                  </ul>
                </footer>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="apo-item">
        <!-- Article-->
        <article class="apo-project">
          <div class="apo-project-media"><a href="#"><img src="" alt=""></a></div>
          <div class="apo-project-content-wrap">
            <div class="apo-aligner-outer">
              <div class="apo-aligner-inner">
                <header class="apo-project-header">
                  <h2 class="apo-project-title"><a href="">Momo Tokyo</a></h2>
                  <ul class="apo-project-categories">
                    <li><a href="#">Nature</a></li>
                  </ul>
                </header>
                <footer class="apo-project-footer">
                  <ul class="apo-project-meta">
                    <li><a href=""><i class="icon-heart"></i>858</a></li>
                  </ul>
                </footer>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="apo-item">
        <!-- Article-->
        <article class="apo-project">
          <div class="apo-project-media"><a href="#"><img src="" alt=""></a></div>
          <div class="apo-project-content-wrap">
            <div class="apo-aligner-outer">
              <div class="apo-aligner-inner">
                <header class="apo-project-header">
                  <h2 class="apo-project-title"><a href="">Carlotta Monzani</a></h2>
                  <ul class="apo-project-categories">
                    <li><a href="#">Architecture</a></li>
                  </ul>
                </header>
                <footer class="apo-project-footer">
                  <ul class="apo-project-meta">
                    <li><a href=""><i class="icon-heart"></i>189</a></li>
                  </ul>
                </footer>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="apo-item">
        <!-- Article-->
        <article class="apo-project">
          <div class="apo-project-media"><a href="#"><img src="" alt=""></a></div>
          <div class="apo-project-content-wrap">
            <div class="apo-aligner-outer">
              <div class="apo-aligner-inner">
                <header class="apo-project-header">
                  <h2 class="apo-project-title"><a href="">ABCO</a></h2>
                  <ul class="apo-project-categories">
                    <li><a href="#">Nature</a></li>
                  </ul>
                </header>
                <footer class="apo-project-footer">
                  <ul class="apo-project-meta">
                    <li><a href=""><i class="icon-heart"></i>120</a></li>
                  </ul>
                </footer>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="apo-item">
        <!-- Article-->
        <article class="apo-project">
          <div class="apo-project-media"><a href="#">
            <img src="https://lh3.googleusercontent.com/pw/AMWts8CxFwmZhk9WV3TAMWH6RHxpjLqLx_5ONBJ4jlLPcC5zYUVDtNZuAl_5rujT4Pn_B9TtQ4-0Nj7IXhjKbjLfXVen_kvogr1Py3P-q895Ie_GgYN1WNc=w1920-h1080" 
            alt="" width="480" height="480">
          </a></div>
          <div class="apo-project-content-wrap">
            <div class="apo-aligner-outer">
              <div class="apo-aligner-inner">
                <header class="apo-project-header">
                  <h2 class="apo-project-title"><a href="">Personal Identity</a></h2>
                  <ul class="apo-project-categories">
                    <li><a href="#">Beauty</a></li>
                  </ul>
                </header>
                <footer class="apo-project-footer">
                  <ul class="apo-project-meta">
                    <li><a href=""><i class="icon-heart"></i>780</a></li>
                  </ul>
                </footer>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="apo-item apo-item-size-2x">
        <!-- Article-->
        <article class="apo-project">
          <div class="apo-project-media"><a href="#">
            <img src="https://lh3.googleusercontent.com/pw/AMWts8DwqygxEFIrrQ6fEOcT-a6t6HQRqangDMFrXWffumX5gigar7fMaFz9fMGh7U5qFAgUj_029jjgXd2VgU_xVnR-QXJgicmxG3CaEr_2yAvcvjD5Zgg=w1920-h1080" 
            alt="">
          </a></div>
          <div class="apo-project-content-wrap">
            <div class="apo-aligner-outer">
              <div class="apo-aligner-inner">
                <header class="apo-project-header">
                  <h2 class="apo-project-title"><a href="">Geometrical Puzzle</a></h2>
                  <ul class="apo-project-categories">
                    <li><a href="#">Abstract</a></li>
                  </ul>
                </header>
                <footer class="apo-project-footer">
                  <ul class="apo-project-meta">
                    <li><a href=""><i class="icon-heart"></i>365</a></li>
                  </ul>
                </footer>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="apo-item">
        <!-- Article-->
        <article class="apo-project">
          <div class="apo-project-media"><a href="#">
            <img src="https://lh3.googleusercontent.com/pw/AMWts8DNMFxzzjhOmNpz21cU_6XpPr0gpt4L05tVBdsne10A9Wcry0GyNFqpkStJZTWDBogswQw_0sKug0jc3frck5oKvFbZyixvA7oWdiqBQ3am00PEwA8=w1920-h1080" 
            alt="" width="480" height="480">
          </a></div>
          <div class="apo-project-content-wrap">
            <div class="apo-aligner-outer">
              <div class="apo-aligner-inner">
                <header class="apo-project-header">
                  <h2 class="apo-project-title"><a href="">Stories Collective</a></h2>
                  <ul class="apo-project-categories">
                    <li><a href="#">Animal</a></li>
                  </ul>
                </header>
                <footer class="apo-project-footer">
                  <ul class="apo-project-meta">
                    <li><a href=""><i class="icon-heart"></i>111</a></li>
                  </ul>
                </footer>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="apo-item">
        <!-- Article-->
        <article class="apo-project">
          <div class="apo-project-media"><a href="#">
            <img src="https://lh3.googleusercontent.com/pw/AMWts8BIVbGnqqBjYSJIp4MK-PwZiJpZiL3ujA204taEExIjjVwSBKi1zT0q2-EAFENCaMugXu4RIAJaZ3iJfGngWGavSKJ909gq4Vgp1o5vTScofpflwmQP=w1920-h1080" 
            alt="" width="480" height="480">
          </a></div>
          <div class="apo-project-content-wrap">
            <div class="apo-aligner-outer">
              <div class="apo-aligner-inner">
                <header class="apo-project-header">
                  <h2 class="apo-project-title"><a href="">Visium</a></h2>
                  <ul class="apo-project-categories">
                    <li><a href="#">Nature</a></li>
                  </ul>
                </header>
                <footer class="apo-project-footer">
                  <ul class="apo-project-meta">
                    <li><a href=""><i class="icon-heart"></i>111</a></li>
                  </ul>
                </footer>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="apo-item">
        <!-- Article-->
        <article class="apo-project">
          <div class="apo-project-media"><a href="#"><img src="https://lh3.googleusercontent.com/pw/AMWts8BsKg5lhyIncBgrKJ5ExUqE36CJ5EeG878f3968ok2QnEjKxiqN4vy8xlAZ63AJbBgM3qr_idQX4WoF-20Barl3bL2GyNiPAY6fASUKsiLZ6rmWTxA=w1920-h1080"
            alt="" width="480" height="480">
          </a></div>
          <div class="apo-project-content-wrap">
            <div class="apo-aligner-outer">
              <div class="apo-aligner-inner">
                <header class="apo-project-header">
                  <h2 class="apo-project-title"><a href="">Visium</a></h2>
                  <ul class="apo-project-categories">
                    <li><a href="#">Nature</a></li>
                  </ul>
                </header>
                <footer class="apo-project-footer">
                  <ul class="apo-project-meta">
                    <li><a href=""><i class="icon-heart"></i>986</a></li>
                  </ul>
                </footer>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="apo-item apo-item-size-1-3x">
        <!-- Article-->
        <article class="apo-project">
          <div class="apo-project-media"><a href="#"><img src="" alt=""></a></div>
          <div class="apo-project-content-wrap">
            <div class="apo-aligner-outer">
              <div class="apo-aligner-inner">
                <header class="apo-project-header">
                  <h2 class="apo-project-title"><a href="">Redwood</a></h2>
                  <ul class="apo-project-categories">
                    <li><a href="#">Nature</a></li>
                  </ul>
                </header>
                <footer class="apo-project-footer">
                  <ul class="apo-project-meta">
                    <li><a href=""><i class="icon-heart"></i>123</a></li>
                  </ul>
                </footer>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="apo-item apo-item-size-1-3x">
        <!-- Article-->
        <article class="apo-project">
          <div class="apo-project-media"><a href="#"><img src="" alt=""></a></div>
          <div class="apo-project-content-wrap">
            <div class="apo-aligner-outer">
              <div class="apo-aligner-inner">
                <header class="apo-project-header">
                  <h2 class="apo-project-title"><a href="">Carlotta Monzani</a></h2>
                  <ul class="apo-project-categories">
                    <li><a href="#">Travel</a></li>
                  </ul>
                </header>
                <footer class="apo-project-footer">
                  <ul class="apo-project-meta">
                    <li><a href=""><i class="icon-heart"></i>780</a></li>
                  </ul>
                </footer>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="apo-item apo-item-size-1-3x">
        <!-- Article-->
        <article class="apo-project">
          <div class="apo-project-media"><a href="#"><img src="" alt=""></a></div>
          <div class="apo-project-content-wrap">
            <div class="apo-aligner-outer">
              <div class="apo-aligner-inner">
                <header class="apo-project-header">
                  <h2 class="apo-project-title"><a href="">ABCO</a></h2>
                  <ul class="apo-project-categories">
                    <li><a href="#">Travel</a></li>
                  </ul>
                </header>
                <footer class="apo-project-footer">
                  <ul class="apo-project-meta">
                    <li><a href=""><i class="icon-heart"></i>120</a></li>
                  </ul>
                </footer>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="apo-item">
        <!-- Article-->
        <article class="apo-project">
          <div class="apo-project-media"><a href="#"><img src="" alt=""></a></div>
          <div class="apo-project-content-wrap">
            <div class="apo-aligner-outer">
              <div class="apo-aligner-inner">
                <header class="apo-project-header">
                  <h2 class="apo-project-title"><a href="">In Summer Night</a></h2>
                  <ul class="apo-project-categories">
                    <li><a href="#">Landscape</a></li>
                  </ul>
                </header>
                <footer class="apo-project-footer">
                  <ul class="apo-project-meta">
                    <li><a href=""><i class="icon-heart"></i>258</a></li>
                  </ul>
                </footer>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
  <!-- End Page Content-->
{% endblock %}