{% extends '../homepages/rocketry_home.html' %}
{% block title %} Rocketry - Launches | Tufts SEDS {% endblock %}
{% load static %}

{% block rocket_content %}
<div class="apo-page">
    <div class="apo-page-header">
        <div class="apo-page-header-column">
            <h1 class="apo-page-title">Launches</h1>
        </div>
    </div>

    <div class="container">
        <div class="apo-section">
            <!-- Isotope-->
            <div data-isotope-layout="grid" data-isotope-filter="#isotope-filter"
                class="apo-isotope apo-cols-3 apo-entries-container apo-style-3">
                <div class="grid-sizer"></div>
                <!-- Add apo-item plus whatever other class the article relates to-->
                {% comment %} Goes through the list in backwards order bc of how it ws sorted in the view
                {% endcomment %}
                {% for result in results reversed %}
                <div class="apo-item">
                    <!-- Article-->
                    <article class="apo-entry">
                        <div class="apo-entry-inner">
                            <div class="apo-entry-media"><a href="{{ result.get_absolute_url }}"><img
                                        src="{% static 'images/events/' %}{{ result.folder_name }}/{{ result.cover_image }}.webp" alt="{{ result.title }}"></a></div>
                            <div class="apo-entry-content-wrap">
                                <div class="apo-aligner-outer">
                                    <div class="apo-aligner-inner">
                                        <header class="apo-entry-header">
                                            <h2 class="apo-entry-title"><a
                                                    href="{{ result.get_absolute_url }}">{{ result.title }}</a></h2>
                                        </header>
                                        <footer class="apo-entry-footer">
                                            {% if result.date %}
                                            <time datetime="{{ result.date }}" class="apo-entry-publish-date">
                                                {{ result.date }}
                                            </time>
                                            {% else %}
                                            <time datetime="{{ result.publish_date }}" class="apo-entry-publish-date">
                                                {{ result.publish_date }}
                                            </time>
                                            {% endif %}
                                        </footer>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- End Article-->
                </div>
                {% endfor %}
                <!-- End Isotope-->
            </div>
            {% comment %} <div class="apo-page-controls">
                <!-- Pagination-->
                <nav>
                    <ul class="apo-pagination">
                        <li class="nv-current"><span class="page-numbers current">1</span></li>
                        <li><a href="#" class="page-numbers">2</a></li>
                        <li><span class="page-numbers dots">...</span></li>
                        <li><a href="#" class="page-numbers">5</a></li>
                    </ul>
                </nav>
                <!-- End Pagination-->
            </div> {% endcomment %}
        </div>
    </div>
</div>
<!-- End Page Content-->
{% endblock %}

{% block rocketry_scripts %}
{% comment %}
This exists solely to stop the fucking glide js errors
DO NOT REMOVE IT
{% endcomment %}
<script>
</script>
{% endblock %}