{% extends '../homepages/rocketry_home.html' %}
{% block title %} Rocketry - Projects | Tufts SEDS {% endblock %}
{% load static %}

{% block rocket_content %}
<div class="apo-page">
    <div class="apo-page-header">
        <div class="apo-page-header-column">
            <h1 class="apo-page-title">Subteam Leaders</h1>
        </div>
    </div>

    <div class="container">
        <div class="apo-section">
            <!-- Start Subteam Leaders Entry -->
            <div class="apo-grid apo-cols-3">
                <!-- Team Member-->
                <div class="apo-grid-col">
                    <figure class="apo-team-member">
                        <!-- Member's Photo--><img
                            src="{% static 'images/eboard/nico_good2.png' %}"
                            alt="Picture of Nico Moldovean" class="apo-team-member-photo">
                        <!-- End Member's Photo-->
                        <!-- Member's Info-->
                        <figcaption class="apo-team-member-info">
                            <div class="apo-vcentered-outer">
                                <div class="apo-vcentered-inner">
                                    <h6 class="apo-team-member-name"><a>Nico Moldovean</a></h6><small
                                        class="apo-team-member-position">Rocketry Team Leader</small>
                                    <ul class="apo-social-networks">
                                        <li><a href="https://www.linkedin.com/in/nico-moldovean-43510a204/"><i
                                                    class="fa fa-linkedin"></i></a></li>
                                        <li><a href="https://nicomoldovean.weebly.com/"><i
                                                    class="fa fa-user-circle"></i></a></li>
                                        <li><a href="https://www.youtube.com/channel/UC76iCCjf1-4SOnjEk4gT37Q"><i
                                                    class="fa fa-youtube-play"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </figcaption>
                        <!-- End Member's Info-->
                    </figure>
                </div>
                <!-- End Team Member-->
                <!-- Team Member-->
                <div class="apo-grid-col">
                    <figure class="apo-team-member">
                        <!-- Member's Photo--><img
                            src="{% static 'images/eboard/asian_ben_good.webp' %}"
                            alt="Picture of Nicholas Martin" class="apo-team-member-photo">
                        <!-- End Member's Photo-->
                        <!-- Member's Info-->
                        <figcaption class="apo-team-member-info">
                            <div class="apo-vcentered-outer">
                                <div class="apo-vcentered-inner">
                                    <h6 class="apo-team-member-name"><a>Ben Fisher</a></h6><small
                                        class="apo-team-member-position">Mechanical Engineering Lead</small>
                                    <ul class="apo-social-networks">
                                        <li><a href="https://www.linkedin.com/in/benfisher2026"><i
                                                    class="fa fa-linkedin"></i></a></li>
                                        <li><a href="https://www.thebenfisher.com/"><i class="fa fa-user-circle"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </figcaption>
                        <!-- End Member's Info-->
                    </figure>
                </div>
                <!-- End Team Member-->
                <!-- Team Member-->
                <div class="apo-grid-col">
                    <figure class="apo-team-member">
                        <!-- Member's Photo--><img
                            src="{% static 'images/eboard/bode_good.webp' %}"
                            alt="Picture of Bode Wildgrube" class="apo-team-member-photo">
                        <!-- End Member's Photo-->
                        <!-- Member's Info-->
                        <figcaption class="apo-team-member-info">
                            <div class="apo-vcentered-outer">
                                <div class="apo-vcentered-inner">
                                    <h6 class="apo-team-member-name"><a>Bode Wildgrube</a></h6><small
                                        class="apo-team-member-position">Electrical Lead</small>
                                    <ul class="apo-social-networks">
                                        <li><a href="https://www.linkedin.com/in/bode-wildgrube-11a309221/"><i
                                                    class="fa fa-linkedin"></i></a></li>
                                        <li><a href="https://bwildgrube.weebly.com/"><i
                                                    class="fa fa-user-circle"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </figcaption>
                        <!-- End Member's Info-->

                    </figure>
                </div>
                <!-- End Team Member-->
                <!-- Team Member-->
                <div class="apo-grid-col">
                    <figure class="apo-team-member">
                        <!-- Member's Photo--><img
                            src="{% static 'images/eboard/cisco_good.webp' %}"
                            alt="Picture of Cisco Hadden" class="apo-team-member-photo">
                        <!-- End Member's Photo-->
                        <!-- Member's Info-->
                        <figcaption class="apo-team-member-info">
                            <div class="apo-vcentered-outer">
                                <div class="apo-vcentered-inner">
                                    <h6 class="apo-team-member-name"><a>Cisco Hadden</a></h6><small
                                        class="apo-team-member-position">Recovery and Propulsion Lead, Communication Manager</small>
                                        
                                    <ul class="apo-social-networks">
                                        <li><a href="https://www.linkedin.com/in/cisco-hadden"><i
                                                    class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </figcaption>
                        <!-- End Member's Info-->
                    </figure>
                </div>
                <!-- End Team Member-->
                <!-- Team Member-->
                <div class="apo-grid-col">
                    <figure class="apo-team-member">
                        <!-- Member's Photo--><img
                            src="{% static 'images/eboard/daniel1_good.webp' %}"
                            alt="Picture of Daniel Opara" class="apo-team-member-photo">
                        <!-- End Member's Photo-->
                        <!-- Member's Info-->
                        <figcaption class="apo-team-member-info">
                            <div class="apo-vcentered-outer">
                                <div class="apo-vcentered-inner">
                                    <h6 class="apo-team-member-name"><a>Daniel Opara</a></h6><small
                                        class="apo-team-member-position">Avionics and Telemetry Lead</small>
                                    <ul class="apo-social-networks">
                                        <li><a href="https://www.linkedin.com/in/danielopara/"><i
                                                    class="fa fa-linkedin"></i></a></li>
                                        <li><a href="https://danielopara.me/"><i class="fa fa-user-circle"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </figcaption>
                        <!-- End Member's Info-->
                    </figure>
                </div>
                <!-- End Team Member-->
                <!-- Team Member-->
                <div class="apo-grid-col">
                    <figure class="apo-team-member">
                        <!-- Member's Photo--><img
                            src="{% static 'images/eboard/rachel_good.webp' %}"
                            alt="Picture of Rachel Bonanno" class="apo-team-member-photo">
                        <!-- End Member's Photo-->
                        <!-- Member's Info-->
                        <figcaption class="apo-team-member-info">
                            <div class="apo-vcentered-outer">
                                <div class="apo-vcentered-inner">
                                    <h6 class="apo-team-member-name"><a>Rachel Bonanno</a></h6><small
                                        class="apo-team-member-position">Photography Lead</small>
                                    <ul class="apo-social-networks">
                                        <li><a href="https://www.linkedin.com/in/rachel-bonanno-875527167/"><i
                                                    class="fa fa-linkedin"></i></a></li>
                                        <li><a href="https://rachelbonannoresume.weebly.com/"><i
                                                        class="fa fa-user-circle"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </figcaption>
                        <!-- End Member's Info-->
                    </figure>
                </div>
                <!-- End Team Member-->
            </div>
            <!-- End Subteam Leaders Entry -->
        </div>
    </div>
</div>
{% endblock %}

{% block rocketry_scripts %}
{% comment %}
This exists solely to stop the fucking glide js errors
DO NOT REMOVE IT
{% endcomment %}
<script>
</script>
{% endblock %}